@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--padding-inline-section: 20px;
	--primary-color: #f21a2d,
  --secondary: #6735da,
  --headingGray: #6d6e6f,
  --black: #111723,
  --gold: #f8c928,
  --pink2: #fd655b,
}

.custom-shadow {
	-webkit-box-shadow: 0px 0px 13px 1px rgba(43, 41, 43, 1);
	-moz-box-shadow: 0px 0px 13px 1px rgba(43, 41, 43, 1);
	box-shadow: 0px 0px 13px 1px rgba(43, 41, 43, 1);
}

.custom-shadow2 {
	-webkit-box-shadow: 0px -2px 12px -4px rgba(26, 26, 26, 0.518);
	-moz-box-shadow: 0px -2px 12px -4px rgba(26, 26, 26, 0.588);
	box-shadow: 0px -2px 12px -4px rgba(26, 26, 26, 0.471);
}

.input {
	outline: none;
	margin-top: 2px;
	padding: 8px;
	display: block;
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid #d1d5db;
	/* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
	outline: none;
	font-size: 0.875rem;
	transition: all 0.2s ease-in-out;
}

.input:focus {
	border: 1px solid #f21a2d;
}

.button{
	padding: 4px 14px;
	border-radius: 6px;
}